@media (max-width: 1243px) {
    .text-with-button {
         padding: 7%;
    }
}
@media (max-width: 1385px) {
    .small-box {
        width: 367px;
        height: 320px;
    }
}
@media (max-width: 1300px) {
    .small-box {
        width: 324px;
        height: 280px;
    }
}
@media (max-width: 1220px) {
    .small-box {
        width: 270px;
        height: 240px;
    }
    .box-wrapper {
        justify-content: space-around;
    }
}
@media (max-width 1046px) {
    .box-wrapper {
        justify-content: space-evenly;
    }
}


/* 1025px*/

@media (max-width: 1025px) {
     .first-text {
         width: 385px;
         display: inline-block
     }
     .second-text {
         width: 385px;
     }
     .first-text p {
         font-size: 35px;
         line-height: 31px;
     }
}

/* 850px */

@media (max-width: 850px) {
    .text-with-button {
        padding: 0%;
    }
    .first-text p {
        font-size: 33px;
        line-height: 36px;
    }
    .first-text {
        width: 312px;
    }
    .second-text {
        width: 335px;
        display: inline-block;
    }
    .text-with-button {
        margin: 11px 20px;
        display: inline-block;
        width: 326px;
    }
    .button p {
        font-size: 10px;
        padding-left: 31px;
        letter-spacing: 4px;
        width: 240px;
        height: 69px;
        padding-top: 31px;
    }
    .button {
        padding-top: 40px;
    }
    .blue-footer {
        height: 100px;
    }
}

/* 750px */ 

@media (max-width: 750px) {
    .txt-img-two {
       flex-direction: column;
       align-items: center;
    }
    .first-block {
        width: 100%;
    }
    .second-block {
        width: 100%;
    }
    .txt-img {
        flex-direction: column;
        align-items: center;
    }
    .second-block {
        margin-top: 30px;
    }
    .column {
        flex-direction: column-reverse;
    }
    .blue-footer {
        height: 75px;
    }
    .text-with-button {
        margin: 0 auto;
        max-width: 326px;
        width: 100%;
        display: block;
        height: 460px;
        padding-top: 73px;
    }
    .first-block {
        margin-top: 20px;
    }
}